<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{/fragments/header}"></th:block>
    <title>Error</title>
</head>

<body style="font-family: Georgia, serif; background-color: white">

<div class="container text-center"
     style="background-color: #FFDB58;
            border-radius: 50px;
            margin-top: 225px;
            color: black;
            width: 70%">

    <h1 style="padding: 15px;">Error! You don't have permissions for this action.
        Click <a th:href="@{/}" style="color: #B8860B">here</a> to return to the
        home page.</h1>

</div>

<th:block th:insert="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">
</script>
</body>
</html>